<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996277244975-ipquedu30658n5np21hq9b88f0asvq8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996277244975-ipquedu30658n5np21hq9b88f0asvq8v</string>
	<key>API_KEY</key>
	<string>AIzaSyDlSjpTuc8mJh_rjDPBmCBBemIByYKpcyA</string>
	<key>GCM_SENDER_ID</key>
	<string>996277244975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jsv.Firestore</string>
	<key>PROJECT_ID</key>
	<string>firestore-jsv</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-jsv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996277244975:ios:455846d8c291ecd23ae2da</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-jsv.firebaseio.com</string>
</dict>
</plist>